.mytasks{
    width: 800px;
    border: solid;
    border-color: white;
    background-color: rgb(31, 31, 31);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
}

.taskContainer{
    padding: 10px;
    width: 200px;
    height: 100px;
    background-color: white;
    border: solid;
    border-color: white;
    border-radius: 5px;
    margin-left: 50px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

h1{
    color: white;
}
 .clock{
    margin-top: auto;
 }
 .clock img{
    height: 20px;
    width: 20px;
}